@font-face {
	font-family: 'Roboto-Bold';
	src: url('../fonts/Roboto-Bold.ttf');
}

@font-face {
	font-family: 'Roboto-Regular';
	src: url('../fonts/Roboto-Regular.ttf');
}

@font-face{
	font-family: 'Montserrat-SemiBold';
	src: url('../fonts/Montserrat-SemiBold.otf');
}

@font-face{
	font-family: 'Montserrat-Regular';
	src: url('../fonts/Montserrat-Regular.otf');
}

html {
	    background-color: #1a1a1a;
}

.container {
    margin-right: auto;
    margin-left: auto;
}

.button, .cart-table .product-cart-actions .button, #co-shipping-method-form .buttons-set .button, .footer .button {
    background: #ec223e;
    display: inline-block;
    padding: 7px 15px;
    border: 0;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: normal;
    font-family: "Roboto-Regular", "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
}

.button:hover, .cart-table .product-cart-actions .button:hover, #co-shipping-method-form .buttons-set .button, .footer .button:hover{
	background: #da203a;
}

.cart-table span.or {
	font-family: "Roboto-Regular";
}



.button2 span, .button2 span span {
	color: #1a1a1a;
	font-family: "Roboto-Regular";
}

.product-name, .current, .product-view .product-shop .product-name .h1{
	font-family: "Roboto-Bold" !important ;
	color: #1a1a1a;
}

.product-collateral .toggle-tabs li{
	font-family: "Roboto-Regular";
}

.tab-content, .short-description, .no-rating, .add-to-links, .qty-wrapper label, .in-stock {
    font-family: "Roboto-Regular";
}

.page-header{
    background-color: #1a1a1a;
}

#header.page-header {
    max-width: 1180px;
    max-height: 118px;
    margin: 0 auto;
    padding: 0;
    top: 0;
    position: fixed;
    z-index: 999;
    width: 100%;
}

.page-header-container {
    height: 90%;
    -moz-margin-top: 35px;
    /* float: right; */
    margin: 0 0 40px 118px;
    bottom: 30px;
}


.page{
    /*max-width: 1180px;*/
    margin: 0 auto;
    padding: 0;
	background: #f6f1e9;
}

.page-title h1{
	font-family: "Roboto-Bold";
}

.breadcrumbs a, .breadcrumbs strong{
	font-family: "Roboto-Regular";
}

.wrapper{
    background-color: #1a1a1a;
}

#search {
    width: 100%;
    height: 36px;
    background-color: #1a1a1a;
    padding-right: 40px;
    font-family: "Roboto-Regular";
    font-size: 12px;
    border: 2px solid #333333;
}

#header-nav {
    display: block;
    border-bottom: none;
}

#header-search.skip-content{
    display: block;
    position: absolute;
     top: 35px;
    /* right: 150px; */
    width: 25%;
    padding: 0;
    /*bottom: 150px;*/
    left: 33px;
    margin-top: 20px;
}

.input-box {
  padding-top: 2px;
}
.input-box:after {
  content: '';
  display: table;
  clear: both;
}

.nav-primary li.level0.parent.menu-active:before {
    content: "";
    background: url(../images/rectangle-24.svg) no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 23px;
    left: 55%;
    background-position: 0px 0px;
    display: inline-block;
}

.nav-primary{
    background-color: #282828;
    margin: 0px 0px -30px 0px;
}

/*Navbar */
.nav-primary li.level0 a{
    color: #ffffff;
  font-family: "Roboto-Regular";
  padding: 0 0 0 30px;
}



.nav-primary li.level1 a {
    color: #000000;
    font-family: "Roboto-Regular";
    border: none;
    padding-left: 17px;
}

/*Hover*/

.nav-primary li.level0:hover > a {
  color: #999999;
  text-decoration: none;
}

.nav-primary li.level1:hover > a {
  color: #000000;
  text-decoration: underline;
}

/*Active*/
.nav-primary li.level1:active > a {
  color: #ff0000;
  text-decoration: none;
}

/* isskleidziamas tekstas*/
.nav-primary li.level0 ul {
    background: #ffffff;
    border: solid 1px #FFFFFF;
    position: absolute;
    left: 30px;
    top: 30px;
    z-index: 10;
    width: 220px;
}

#search_mini_form .search-button {
  text-indent: -9999px;
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
  border-style: solid;
  border-color: #ffffff;
  /*background-color: #1a1a1a;*/
  color: #ffffff;
}


/* Icons */

#search_mini_form .search-button:before {
    background-image: url(../images/search_icon.svg);
    background-repeat: no-repeat;
}

#search_mini_form .search-button:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    margin-top: -17px;
    margin-left: -15px;
    background-position: center center;
    color: #ffffff;
    background-size: 56%;
}

/* Search bar input text*/
.input-text {
    color: #999999;
}

/*Search bar text*/
*::-webkit-input-placeholder {
   color: #999999;
}


.logo {
  display: block;
  float: left;
  width: 100%;
  min-width: 100px;
  min-height: 44px;
  padding: 0;
  margin: 0 0 0 0;
}

.header-right{
    float: right;
    /* margin-top: 60px; */
    /* margin-right: 450px; */
    right: 10px;
    position: absolute;
    top: 66px;
    font-family: "Roboto-Regular";
	font-size: 12px;
    color: #ffffff;
}

.header-right-list li {
    display: inline-block;
    margin-right: 35px;

}

.col-main {
    padding-top: 0px;
}

/*.main-container.col3-layout {
    padding-top: 170px;
}*/

.main-container, .footer-container {
    position: relative;
	max-width: 1180px;
    /*margin: 0;*/
    padding-top: 190px;
}

.main{
	max-width: 1180px;
	margin: 0 auto;
}

.main-container.col1-layout {
    max-width: 1180px;
    padding-top: 175px;
}

.footer-links {
    max-width: 1180px;
    margin: 0 auto;
}

a {
    color: #999999;
}

a:hover{
    color: #999999;
    text-decoration: underline;
}

.account-cart-wrapper {
    position: absolute;
    top: 50px;
    right: 0px;
}

/*Store Language*/

.page-header-container .store-language-container {
	float: none;
  	max-width: 35%;
  	padding: 0;
}

.page-header-container .store-language-container label {
  display: none;
}
.page-header-container .store-language-container select {
  max-width: 100%;
}

select#select-language {
    background-color: #000000;
	border: 2px solid #333333;
	color: #ffffff;
	font-family: "Roboto-Regular";
	font-size: 13px;
}

.phone{
    color: #999999;
}


/* Slideshow */
.slideshow-container
.slideshow{
    max-height: 1400px;
    width: 100%;
    border: none;
}

.slideshow-container{
	margin: 0;
	border: none;
}

/* Products */
.products-grid .product-name, .products-list .product-name {
    font-family: "Roboto-Bold";
    font-size: 14px;
    color: #1a1a1a;
	padding-bottom: 60px;
}

.product-image{
	border: none;
}

h2.product-name a, h3.product-name a, h4.product-name a, h5.product-name a, p.product-name a {
    color: #1a1a1a;
}

h2.product-name a:hover, h3.product-name a:hover, h4.product-name a:hover, h5.product-name a:hover, p.product-name a:hover {
    color: #1a1a1a;
	text-decoration: underline;
}

/*list of products in homepage */

.home-container .item.last{
	margin: 5px 5px !important;
	background: white;
	width: 280px !important;
	height: 346px !important;
}

.home-container .wr{
/*	background: #ffffff;*/
	width: 100%;
	padding: 0 17px;
	display: inline-block;
}

/*.home-container .widget-products li.item.last {
    padding-left: 10px;
    padding-right: 10px;
}*/

.home-container .widget-products li.item.last:hover {
	border: 1px solid #cbcbcb;
}

.widget-products li.item.last:hover{
	content: "";
	background: url(../images/shopping-cart-black-shape.svg) no-repeat;
	background-size: 15px;
	background-color: #ffffff;
	background-position: 242px 302px;
	display: inline-block;
}


@media only screen and (min-width: 770px){
.col1-layout .col-main .widget .products-grid--max-5-col-widget > li {
     width: 280px;
    /* height: 280px; */
    /* margin-right: 2.22222%; */
}
}


.std ul {
    list-style: none;
    margin-bottom: 1.5em;
}

.widget-products .price-box .price {
    color: #ec223e;
    font-size: 18px;
    font-weight: bold;
    font-family: "Roboto-Bold";
    position: absolute;
    top: 93px;
	left: 0px;
}

.price-box .old-price .price {
    color: #a0a0a0;
    text-decoration: line-through;
    left: 88px;
	margin-left: 7px;
	font-size: 14px;
	top: 96px;
}

li.item.last .price-box .special-price .price, li.item.last .price-box .regular-price .price{
	color: #ec223e;
	font-family: "Roboto-Bold";
	font-size: 18px;

}

.product-shop .price-box span.price, .product-view .product-shop .price-box .regular-price .price, .product-view .product-shop .price-box .special-price .price{
	font-family: "Roboto-Bold";
	color: #ec223e;
	font-size: 28px;
}

.product-shop .price-box .old-price .price{
	color: #666666;
	font-size: 22px;
}

.toolbar{
	background-color: #ffffff;
}

.toolbar .sorter label, .toolbar select{
	font-family: "Roboto-Regular";
}

.toolbar strong{
	font-family: "Roboto-Bold";
}

.block-layered-nav .block-content > dl > dt{
	font-family: "Roboto-Bold";
	background-color: #ffffff;
	color: #636363;
}

.block-layered-nav .block-content > dl > dt:hover{
	background-color: #333333;
	color: #ffffff;
}

.block-layered-nav .block-content > dl > dd{
	border: none;
}

.block-layered-nav dl dd ol > li > a {
	font-family: "Roboto-Regular";
	color: #999999;
}

.col-right.sidebar .block .block-title{
    margin: 0;
    margin-bottom: 10px;
    color: #636363;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    line-height: 1.4;
    text-rendering: optimizeSpeed;
    text-transform: uppercase;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
    font-weight: normal;
    margin-bottom: 0px;
    padding: 7px 10px 7px 24px;
    border-width: 1px !important;
    border-style: solid;
    border-color: #cccccc;
    position: relative;
    background-color: #ffffff;
    display: block;
	border-top: 1px solid #cccccc;
}

.block-subtitle{
	font-family: "Roboto-Bold";
}


body:not(.customer-account) .col-right .block:first-child .block-title {
     border-top:1px solid #cccccc;
     padding-top: 7px;
}

ol#recently-viewed-items p.product-name{
	font-family: "Roboto-Regular";
}

#b-category{
    margin-right: 15px;
    display: inline-block;
}

#b-category img{
	width: 279px;
	height: 344px;
}

#b-category .product-text {
    position: absolute;
    bottom: 63px;
    left: 40px;

}

.pc-parts{
    display: inline-block;
    margin-top: 18px;
	margin-right: 15px;
}

#monitor-part{
    display: inline-block;
	position: absolute;
}

#monitors img{
    margin-top: 18px;
	width: 280px;
	height: 163px;
}

#s-category img{
	width: 280px;
	height: 163px;
}

#s-category2 img{
    margin-top: 18px;
	width: 280px;
	height: 163px;
}

.main-categories{
	position: relative;
}

.main-categories:hover img{
    background-color: #1a1a1a;
    opacity: 0.8;
}

#console-category{
    margin-left: 20px;
    display: inline-block;
}

.item.list{
    color: #ffffff;
}

.products-grid > li {
    position: relative;
    margin-bottom: 20px;
    text-align: left;
    background: #ffffff;
    /* padding: 12px; */
    border: 1px solid #f6f1e9;
    padding-left: 11px;
}

.category-products .products-grid > li:hover{
	border: 1px solid #cbcbcb;
}

.home-container .products-grid .price-box {
    color: #a0a0a0;
    font-size: 13px;
    margin: 0 0 5px;
    position: absolute;
    top: 12px;
    left: 0px;
}

.products-grid .price-box{
	position: absolute;
	bottom: 132px;
}

.container-title{
	font-family: "Roboto-Bold";
	font-size: 16px;
	text-transform: uppercase;
	color: #333333;
}

/* Footer */

.footer {
    border: none;
    /*margin-top: 61px;*/
    top: 488px;
}

.footer-container {
/*    padding: 190px 0 0 0; */
    padding-top: 0px !important;
}

.footer address {
    text-align: left;
    width: 100%;
    font-size: 12px;
     margin-top: 0;
	 border: none;
    /* padding: 0px 19% 17px 0; */
    /* padding-left: 19%; */
    /* padding-bottom: 17px; */
    /* padding-right: 19%; */
    padding-top: 0;
    font-family: "Roboto-Regular";
    background: #1a1a1a;
    color: #808080;
    position: absolute;
}

.footer-border {
    border-left: 1px solid #cccccc;
    padding: 0 10px 0 10px;
}

.footer-border1{
	padding-right: 10px;
}

.footer-right-list{
	float: right;
	display: inline;
}

.footer-right-list li{
	display: inline-block;

}

.footer2{
	background: #000000;
}

.links ul {
    border-left: 1px solid #ec223e;
    padding-left: 14px;
}

.footer-up-list li{
	float: left;
	font-family: "Roboto-Regular";
	font-size: 14px;
}

.footer-up{
	margin-right: 15px;
	display: inline;
}
.footer-credit{
	float: right;
}

.footer-split{
	border-bottom: 1px solid #3c3c3c;
	margin-top: 27px;
	margin-bottom: 20px;
}

p.note-msg{
	font-family: "Roboto-Regular";
}

@media only screen and (min-width: 480px){
.main-container, .footer-container {
     padding: 170px 0 0 0;
}
}

.footer .links {
    float: left;
    width: 24%;
    /*padding: 0 30px 0 0;*/
	font-family: "Roboto-Regular";
	font-size: 14px;
	text-transform: none;
	margin-bottom: 67px;
}

.footer .links li{
	padding: 2px 0;
}

.footer .links a {
    color: #4b4a49;
}

.footer .links a:hover {
    color: #4b4a49;
}

/* Newsletter input box */

.block-content .input-text{
	border: 0px;
}

.container2{
	position:relative;
}

.ptag{
	width: 280px;
	height: 163px;
}

/* Product Info */

.tab-content .data-table th{
	background: #1a1a1a;
	color: #ffffff;
	font-family: "Roboto-Regular";
}

.product-collateral .toggle-tabs li.current span, .product-collateral .toggle-tabs li:hover span{
	color: #ec223e;
}

.data-table tbody td{
    font-family: "Roboto-Regular";
}

.block-title{
	border: none;
	font-family: "Roboto-Bold";
	text-transform: uppercase;
}

.block-title strong{
	color: #1a1a1a;
	font-family: "Roboto-Bold";
}

.footer .block-title strong{
	color: #333333;
	font-weight: bold;
	font-size: 16px;
}

.footer-up .block-title{
	margin-bottom: 19px;
	margin-top: 20px;
}

.footer-up .block-title strong{
	color: #ffffff;
}

.slideshow-prev{
	background-image: url(../images/slider-left.png);
	background-repeat: no-repeat;
	background-position: center center;
	left: -18px;
}

.slideshow-prev:before{
	display: none;
}

.slideshow-next{
	background-image: url(../images/slider-right.png);
	background-repeat: no-repeat;
	background-position: center center;
	right: -18px;
}

.slideshow-next:before{
	display: none;
}

.slideshow li{
	position: relative;
}

.slideshow .overlay {
    position: absolute;
	top: 37%;
    left: 19%;
    z-index: 100;
    font-size: 34px;
    width: 460px;
    font-family: "Montserrat-SemiBold";
	color: #ffffff;
}

.pcat .overlay {
	position: absolute;
	color: #ffffff;
	left: 20px;
	bottom: 20px;
	z-index: 100;
	background-color: #1a1a1a;
	font-size: 22px;
	padding: 5px 10px;
	text-transform: uppercase;
}

.overlay .button{
    border: none;
	background-color: #ffffff;
    color: #333333;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 40px 2px;
    cursor: pointer;
	font-family: "Roboto-Bold";
}

.overlay .button:hover{
	background-color: #e5e2dd;
	color: #333333;
}

.choose-pc .overlay {
    display: inline-block;
    position: absolute;
    top: 44px;
    text-align: center;
    color: #ffffff;
    z-index: 100;
    left: 25px;
    right: 25px;
    font-size: 22px;
    font-family: "Montserrat-Regular";
    text-transform: uppercase;
}

.choose-all .overlay {
    display: inline-block;
    position: absolute;
    font-family: "Montserrat-Regular";
    font-size: 22px;
    color: #333333;
    text-transform: uppercase;
    bottom: 190px;
    right: 0px;
    width: 285px;
    height: 81px;
    text-align: center;
}

.copyright-inner{
	max-width: 1180px;
}

.header-class{
	max-width: 1180px;
	margin: 0 auto;
}

/* Above Footer */

.above-footer {
    background-color: #ffffff;
    margin-top: 80px;
    margin-bottom: 61px;
    position: relative;
    width: auto;
    height: 113px;
}

.above-footer .block-title strong{
	color: #333333;
	font-weight: bold;
}

.above-footer-text{
	display: inline-block;
	margin: 16px 13px 28px 8px;
	/*border-right: 1px solid #ff0000;*/
}

.above-footer-list {
    max-height: 113px;
	position: absolute;
	top: 0px;
}
.above-footer-list .fa{
	font-size: 32px;
	margin-left: 14px;
    color: white;
}

.above-footer-list li{
	display: inline-block;
	font-size: 14px;
	font-family: "Roboto-Regular";
	color: #999999;
	padding-left: 80px;
	position: relative;
}

.above-footer-text p{
	word-wrap: break-word;
}

.newsletter-text{
	font-family: "Roboto-Regular";
	font-size: 14px;
	margin-bottom: 11px;
	text-transform: none;
	color: #333333;
}

.fup-container{
	display: inline-grid;
	width: 260px;
}

.fup-icon {
   display: inline-block;
   padding-right: 18px;
   position: absolute;
   left: 29px;
   top: 12px;
   z-index: 99;
}

.fup-icon img{
    position: absolute;
    z-index: -99;
}

 .fup-text{
 }

#os-selection{
	width: 280px;
	height: 163px;
}

#os-selection select {
    border: 2px solid #000000;
    font-family: "Roboto-Bold";
    color: #333333;
    background-color: transparent;
    width: 130px;
    height: 37px;
    padding-left: 14px;
	position: absolute;
	right: 83px;
	top: 279px;
	text-transform: uppercase;
}

#os-selection .order-os {
    font-family: "Montserrat-Regular";
    font-size: 22px;
    position: absolute;
    bottom: 81px;
    text-transform: uppercase;
    text-align: center;
    color: #333333;
}

#os-selection select:hover {
    background-color: #333333;
    color: #ffffff;
}

#os-selection select option:hover {
  background-color: #ff0000;
  color: white;
}

#os-selection option {
    font-family: "Roboto-Regular";
	text-transform: none;
}

.choose-all .rewbutton {
    border: 2px solid #000000;
    font-family: "Roboto-Bold";
    color: #333333;
    background-color: transparent;
    position: absolute;
    right: 83px;
    bottom: 140px;
    text-transform: uppercase;
    width: 122px;
    height: 37px;
}

.choose-all .rewbutton:hover{
	background-color: #333333;
    color: #ffffff;
}

.production{
	margin-top: 78px;
	margin-bottom: 83px;
}

.production-img{
	display: inline-block;
	margin-top: 27px;
	padding-left: 45px;
	padding-right: 45px;

	height: 57px;
	width: auto;
}

.production-img img{
	height: 57px;
    width: auto;
}

.border-sep{
	border-right: 1px solid #cbcbcb;
}

#os-selection .select-button:before {
    background-image: url(../images/arrow.png);
    background-repeat: no-repeat;
	position: relative;
	width: 30px;
    height: 30px;
}

.product-container{
	width: 880px;
	display: inline-block;
}

.choose-pc{
	display: inline-block;
	top: 66px;
	position: absolute;
	right: 0;
}

.choose-all{
	position: relative;
	height: auto;
}

/*.col-left{
	padding-top: 170px;
}

 .col-right{
 	padding-top: 170px;
 }*/


 .product-info {
   position: relative;
   padding-bottom: 95px;

 }

 @media only screen and (min-width: 920px){
 .col1-layout .col-main .widget .products-grid--max-5-col-widget > li:nth-child(5n+1) {
     clear: left;
 }
 }


 /* Mobile */
@media only screen and (max-width: 920px){
	.main {
	 /*   max-width: 712px;*/
	  /*  margin: 0 auto;*/
}

.logo{
	width: auto;
}

a.skip-link.skip-search {
    display: none;
}

a.skip-link.skip-nav {
    position: absolute;
    right: 32px;
    top: 55px;
    width: 109px;
}

#header-search.skip-content{
    display: block;
    position: absolute;
    top: 5px;
    right: 150px;
    width: 21%;
    padding: 0;
	bottom: 0;
	left: auto;
    margin-top: 20px;
}

.nav-primary {
    background-color: #282828;
    /* margin: 0px 0px 2px 203px; */
    position: absolute;
    width: 187px;
    right: 2px;
    top: 118px;
}

.nav-primary li.level0 ul {
    background: #ffffff;
    border: solid 1px #FFFFFF;
    position: absolute;
    right: 187px;
    top: 0px;
    z-index: 10;
    width: 220px;
}

.header-right {
    float: auto;
    /* margin-top: 60px; */
    /* margin-right: 450px; */
    right: 118px;
    position: absolute;
    top: 78px;
    font-family: "Roboto-Regular";
    font-size: 12px;
    color: #ffffff;
}

.slideshow-container {
    top: 118px;
}

.slideshow .overlay {
    position: ;
    top: 66px;
    left: 73px;
    right: 0;
    bottom: 0;
    z-index: 100;
    font-size: 34px;
    width: 460px;
    font-family: "Montserrat-SemiBold";
    color: #ffffff;
}

.product-container {
    width: 760px;
    display: inline-block;
    position: static;
    top: 428px;
    left: 12px;
    margin-top: 114px;
    margin-left: 5px;
}

.choose-pc{
	display: none;
}

.choose-all{
	display: none;
}

.above-footer {
    background-color: #ffffff;
    margin-top: 80px;
    margin-bottom: 61px;
    margin-left: 30px;
    margin-right: 17px;
    position: relative;
    width: auto;
    height: 380px;
}

.above-footer-text {
    margin: 16px 0px 28px 34px;
}

.fup-icon {
    position: absolute;
	margin-top: 17px;
}

.fup-container {
    display: inline-grid;
    margin-left: 50px;

    /* margin-bottom: -11px; */
}


.footer address{
	    margin-top: 30px;
}

.footer-border {
    border-top: 1px solid #cccccc;
	border-left: none;
    /* display: none; */
}

.footer-container {
    position: relative;
    margin-left: 12px;
    margin-right: 12px;
    max-width: 1180px;
    /* margin: 0; */
    padding-top: 0px;

}

.footer .links{
	    width: 31%;
}

#monitors img{
	margin-top: 0;
}

address.copyright .footer-border {
    display: none;
}

}
