<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.js"></script>

<style type="text/css">
.sticky {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
}
</style>

<script type="text/javascript">
(function($, w){
    $(function(){
        var $nav = $('#header-nav');
        var stickyNavTop = $nav.offset().top;

        var stickyNav = function(){
            var scrollTop = $(w).scrollTop();

            if (scrollTop > stickyNavTop) {
                $nav.addClass('sticky');
            } else {
                $nav.removeClass('sticky');
            }
        };

        $(w).scroll(function() {
            stickyNav();
        });

        stickyNav();
    });
    })($j, window);

</script>


<?php
$products = Mage::getModel('catalog/product')->getCollection()->addAttributeToSelect('*');
?>
<ul id="nav">
        <?php echo $_menu ?>
  <li>
      <ul>
        <?php
foreach ($products as $_product) { ?>
   <li><?php echo $_product->getName(); ?></li>
<?php } ?>
</ul>
</li>
</ul>
