<script>
$('.owl-carousel').owlCarousel({
    loop:true,
    margin:10,
    nav:true,
    responsive:{
        0:{
            items:1
        },
        600:{
            items:3
        },
        1000:{
            items:5
        }
    }
})
</script>


<div class ="pcat">
<div class="container-title">
        <?php echo $this->__('Prekių kategorijos') ?>
</div>
<div id="b-category" class="main-categories">
    <?php $cat = Mage::getModel('catalog/category')->load(7)?>
    <a href="<?php echo $cat->getUrlKey(); ?>">
    <img src="<?php echo $cat->getImageUrl(); ?>" />
    <div class="overlay">
            <?php echo $this->__('Kompiuteriai') ?>
    </div>
</a>
</div>

<div class="pc-parts">
    <div id="s-category" class="main-categories">
        <?php $cat = Mage::getModel('catalog/category')->load(8)?>
        <a href="<?php echo $cat->getUrlKey(); ?>">
        <img src="<?php echo $cat->getImageUrl(); ?>" />
        <div class="overlay">
                <?php echo $this->__('Klaviatūros') ?>
        </div>
        </a>
    </div>
    <div id="s-category2" class="main-categories">
        <?php $cat = Mage::getModel('catalog/category')->load(9)?>
        <a href="<?php echo $cat->getUrlKey(); ?>">
        <img src="<?php echo $cat->getImageUrl(); ?>" />
        <div class="overlay">
                <?php echo $this->__('Pelės') ?>
        </div>
        </a>
    </div>
</div>

<div id="b-category" class="main-categories tworow">
    <?php $cat = Mage::getModel('catalog/category')->load(14)?>
    <a href="<?php echo $cat->getUrlKey(); ?>">
    <img src="<?php echo $cat->getImageUrl(); ?>" />
    <div class="overlay">
            <?php echo $this->__('Konsolės') ?>
    </div>
    </a>

</div>

<div id="monitor-part">
    <div id="monitors" class="main-categories tworow">
        <?php $cat = Mage::getModel('catalog/category')->load(12)?>
        <a href="<?php echo $cat->getUrlKey(); ?>">
        <img src="<?php echo $cat->getImageUrl(); ?>" />
        <div class="overlay">
            <?php echo $this->__('Monitoriai') ?>
        </div>
        </a>
    </div>
    <div id="os-selection">
        <div class="order-os">
            <?php echo $this->__('Pagal operacinę sistemą') ?>
        </div>
        <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('os-block')->toHtml();?>
    </div>

</div>
</div>

<div class="production">
    <div class="container-title">
        <?php echo $this->__('Mūsų parduodama produkcija') ?>
    </div>
    <div class="production-img border-sep">
        <img src="<?php echo $this->getSkinUrl('images/Acer.svg'); ?>" alt="Acer" />
    </div>
    <div class="production-img border-sep">
        <img src="<?php echo $this->getSkinUrl('images/HP.svg'); ?>" alt="HP" />
    </div>
    <div class="production-img border-sep">
        <img src="<?php echo $this->getSkinUrl('images/Lenovo.svg'); ?>" alt="Lenovo" />
    </div>
    <div class="production-img">
        <img src="<?php echo $this->getSkinUrl('images/Dell.svg'); ?>" alt="Dell" />
    </div>
</div>


<div class="owl-carousel owl-theme">
    <div class="item"><h4>1</h4></div>
    <div class="item"><h4>2</h4></div>
    <div class="item"><h4>3</h4></div>
    <div class="item"><h4>4</h4></div>
    <div class="item"><h4>5</h4></div>
    <div class="item"><h4>6</h4></div>
    <div class="item"><h4>7</h4></div>
    <div class="item"><h4>8</h4></div>
    <div class="item"><h4>9</h4></div>
    <div class="item"><h4>10</h4></div>
    <div class="item"><h4>11</h4></div>
    <div class="item"><h4>12</h4></div>
</div>

<div class="above-footer">
    <ul class="above-footer-list">


            <li class="free-delivery above-footer-text">
                <div class="fup-icon">
                    <img src="<?php echo $this->getSkinUrl('images/square.svg'); ?>" />
                    <i class="fa fa-truck" aria-hidden="true"></i>
                </div>
                <div class="fup-container">
                    <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('fup1')->toHtml();?>
                </div>
            </li>



                <li class="money-back above-footer-text footer-border">
                    <div class="fup-icon">
                        <img src="<?php echo $this->getSkinUrl('images/square.svg'); ?>" />
                        <i class="fa fa-eur" aria-hidden="true"></i>
                    </div>
                    <div class="fup-container">
                        <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('fup2')->toHtml();?>
                    </div>
                </li>


            <li class="consult above-footer-text footer-border">
                <div class="fup-icon">
                    <img src="<?php echo $this->getSkinUrl('images/square.svg'); ?>" />
                    <i class="fa fa-user" aria-hidden="true"></i>
                </div>
                <div class="fup-container">
                        <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('fup3')->toHtml();?>
                </div>
            </li>

    </ul>
</div>
